.main img{
	float:left;
	
}
.main ul{
	float:left;
	margin-left:200px;
	font-size:30px;
}
.main ul {
	float:left;
	margin-left:100px;

	
	
}
.main ul li{
	float:left;
	font-size:20px;
	display:inline;
	padding-left:20px;
	padding-top:40px;
	
	
}
.main p{
	color:red;
	font-size:23px;
	padding-top: 100px;
	margin-left:450px;
	
}
.main img{
	padding-left:10px;
}
.noidung .item{
	margin-top:150px;
	font-size:17px;
	padding-left:40px;
}
.item input{
	margin-left:100px;
}
.noidung .item1{
	padding-top:10px;
	font-size:17px;
	padding-left:40px;
}
.item1 input{
	
	margin-left:84px;
}
.noidung .item2{
	padding-top:10px;
	font-size:17px;
	padding-left:40px;
}
.item2 input{
	
	margin-left:196px;
}
.noidung .item3{
	padding-top:10px;
	font-size:17px;
	padding-left:40px;
}
.item3 input{
	
	margin-left:150px;
}
.noidung .item4{
	padding-top:10px;
	font-size:17px;
	padding-left:40px;
}
.item4 input{
	
	margin-left:204px;
}
.noidung .item5{
	padding-top:10px;
	font-size:17px;
	padding-left:40px;
}
.item5 input{
	
	margin-left:100px;
}
.noidung .item1{
	padding-top:10px;
	font-size:17px;
	padding-left:40px;
}
.item1 input{
	
	margin-left:84px;
}
.gui{
	margin-top:20px;
	margin-left:450px;
}