a:link, a:visited, a:active {
    text-decoration: none;
    color: #036;
}
body { 
    background-image:url("images/bg-top.jpg");
    font-family: arial,tahoma;
    font-size: 12px;
}
.header{
	margin: 0px auto;
	padding-bottom: 15px;
	position: relative;
	width: 976px;
	}
.header1 {
    padding: 5px 0px;
    text-align: right;
}
.header1 a {
    color: #666;
    font-size: 12px;
    font-weight: normal;
    margin-left: 10px;
}
#banner {
	height:100px;
}

#logo{
	background: url("images/nen.png") no-repeat;
	display: block;
	height:27%;
	width: 100%;
}
#menu {
    height: 45px;
    margin-top: 15px;
	background:#00CDCD;
	border: 1px solid #E0E0E0;
	

}
.menu1{
	float: right;
	margin: 0px;
	padding: 0px;
	width: 976px;
	
}
.menu1 li{
	display: block;
	float: left;
	list-style: outside none none;
	
	
}

.menu1 li a{
    border: 2px solid #E8E8E8;
    color: #DA251C;
    font-size: 14px;
    line-height: 45px;
    padding: 15px 10px;
    text-transform:uppercase;
    text-decoration: none;
	border-radius:5px;
	
	
	
}
.menu1 li:hover
			  {  background-color:#E5E5E5;
				cursor:pointer;	  }
.footer {
	height:100px;
	width:976px;
    color: #444;
    line-height: 20px;
	margin-left:160px;
    margin-top: 920px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
	background: none repeat scroll 0% 0% #FFF;
	border: 1px solid #E0E0E0;
}
table {
	
	margin-top:50px;
	margin-left:130px;
	
}

.box1{
	margin-left:50px;
}
h2 {
	padding-top:50px;
	margin-left: 500px;
}

.row1 td{
	text-align:center;
	height:40px;
	
}
.row2 td{
	height:70px;
}
.id{
	width:50px;
}
.row1 .ten{
	width:150px;
}
.chitiet {
	width:150px;
	
}
.hinhanh{
	width:150px;
}
.gia{
	width:100px;
}
.ghichu{
	width: 200px;
}